.featured-image {
  background: url(../images/featured.webp) no-repeat;
  background-size: cover;
  height: calc(100vh - 40px);
  width: 100%;
  min-height: 600px;

  display: flex;
  align-items: center;
}

.featured-image__content {
  margin-left: 4%;
}

.featured-image__content h2 img {
  max-width: 500px;
}

.featured-image__links {
  margin-top: 30px;
}

.featured-image__links a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.panel {
  padding-top: 40px;
  padding-bottom: 40px;
}

.slider-wrapper {
  margin-bottom: 40px;
}

.slider-wrapper h2 {
  padding: 0 4%;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.carousel {
  position: relative;
}

.carousel > button {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s background ease;
  font-size: 32px;
  border: none;
  z-index: 2;
  cursor: pointer;
  outline: 0;
}

.carousel > button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.carousel__prev {
  left: 0;
}

.carousel__next {
  right: 0;
}

.carousel__overflow {
  overflow: hidden;
  width: 100%;
}

.carousel__list {
  width: 2800px;
  overflow-x: scroll;
  transition: 0.5s transform ease;

  transform: translate(0, 0);
}

.carousel__item {
  display: inline-block;
}

.footer {
  padding: 20px 20px;
  text-align: center;
}
