.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 68px;
  top: 0;
  background-color: transparent;
  transition: 0.3s all ease;
  padding: 0 4%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
}

.scrolled .header {
  background-color: #000;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  background: url(../images/logo.svg) no-repeat center;
  width: 92px;
  height: 31px;
  display: block;
  margin-right: 20px;
  transition: opacity ease 0.3s;
}

.header__mobile {
  color: #fff;
  display: block;
}

.header__mobile.open + .nav-list {
  display: block;
}

.header__logo:hover {
  opacity: 0.7;
}

.nav-list {
  display: none;
}

.nav-list__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-list__item a {
  color: #fff;
  display: block;
  transition: opacity ease 0.3s;
}

.nav-list__item a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 467px) {
  .nav-list {
    position: absolute;
    top: 100%;
    width: 210px;
    left: 60px;
    border-top: 1px white solid;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav-list:before {
    content: "\ea6a";
    font-family: IcoFont;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -12px;
  }

  .nav-list__item {
    display: block;
    line-height: 32px;
    text-align: center;
  }
}

@media screen and (min-width: 468px) {
  .header__mobile {
    display: none;
  }
  .nav-list {
    display: block;
  }
}
